<section class="subscribeContainer">
	{% if user %}
		<div id="titleDiv">
			<h2>Modification</h2>
			<a href="/dashboard"id="exit">&#x2716</a>
		</div>

		<div>
			<form action="/userUpdate/{{user.id}}" method="post" enctype="multipart/form-data">
				<div id="inputSubscribe">
					{% if error %}
						<p class="error">{{error.errors.name}}</p>
					{% endif %}
					<input id="name" type="text" name="name" placeholder="Nom" value="{{user.name}}">
					{% if error %}
						<p class="error">{{error.errors.firstName}}</p>
					{% endif %}
					<input id="firstName" type="text" name="firstName" placeholder="firstName" value="{{user.firstName}}">
					{% if error %}
						<p class="error">{{error.errors.userName}}</p>
					{% endif %}
					<input id="userName" type="text" name="userName"placeholder="userName"  value="{{user.userName}}">
					{% if error %}
						<p class="error">{{error.errors.mail}}</p>
					{% endif %}
					<input id="mail" type="text" name="mail"placeholder="mail" value="{{user.mail}}">
					
					<input id="imgEmployee" type="file" name="image">
				</div>


				<button type="submit">Modifier</button>
				
			</form>
		</div>
	{% else %}
		<div id="titleDiv">
			<h2>Inscrivez-vous</h2>
			<a href="/home"id="exit">&#x2716</a>
		</div>

		<div>
			<form action="./subscribe" method="post" enctype="multipart/form-data">
				<div id="inputSubscribe">
					{% if error %}
						<p class="error">{{error.errors.name}}</p>
					{% endif %}
					<input id="name" type="text" name="name" placeholder="Nom">
					{% if error %}
						<p class="error">{{error.errors.firstName}}</p>
					{% endif %}
					<input id="firstName" type="text" name="firstName" placeholder="Prénom">
					{% if error %}
						<p class="error">{{error.errors.userName}}</p>
					{% endif %}
					<input id="userName" type="text" name="userName" placeholder="Nom d'utilisateur">
					{% if error %}
						<p class="error">{{error.errors.mail}}</p>
					{% endif %}
					<input id="mail" type="text" name="mail" placeholder="Entrez votre Email">
					{% if error %}
						<p class="error">{{error.errors.password}}</p>
					{% endif %}
					<input id="password" type="password" name="password" placeholder="Saisissez un mot de passe">
					{% if error %}
						<p class="error">{{error.confirmPassword}}</p>
					{% endif %}
					<input id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirmer le mot de passe">
					<input id="imgEmployee" type="file" name="image">
				</div>


				<button type="submit">Enregistrer</button>
			</form>


		</div>
	{% endif %}
</section>
