<section>
	<div>
		<h2>Inscrivez-vous</h2>
	</div>

	<div>
		<form action="/subscribe" method="post">
			<p>{{error.errors.name}}</p>
			<input id="name" type="text" name="name" placeholder="Nom">
			<p>{{error.errors.firstName}}</p>
			<input id="firstName" type="text" name="firstName" placeholder="Prénom">
			<p>{{error.errors.userName}}</p>
			<input id="userName" type="text" name="userName" placeholder="Nom d'utilisateur">
			<p>{{error.errors.mail}}</p>
			<input id="mail" type="text" name="mail" placeholder="Entrez votre Email">
            <p>{{error.errors.password}}</p>
			<input id="password" type="text" name="password" placeholder="Saisissez un mot de passe">
			<p>{{error.confirmPassword}}</p>
			<input or.id="confirmPassword" type="text" name="confirmPassword" placeholder="Confirmer le mot de passe">
			<button type="submit">Enregistrer</button>
		</form>


	</div>
</section>
