<section class="collectionContainer">
	<div></div>
	<div class="underCollectionContainer">

		<h2>{{room.name}}</h2>
		<div class="articleCollectionContainer">
			{% for plant in collection %}
				<article>
					<div class="articleTitle">
						<h3>{{plant.common_name}}</h3>
						<a href="/plantDelete/{{plant.id}}"><img src="/images/compost.png" alt="plant_delete"></a>
					</div>
					<a id="imgContainer" href="/plantUserData"><img id="plant" src="{{plant.default_image.thumbnail}}" alt="plant_picture"></a>
				</article>
			{% endfor %}
		</div>

	</div>
	<aside class="aside">
		<p id="sideBarTitle">Mr Green
			<br>Thumb
		</p>

		<p id="welcome">Bienvenue
			{{session.user.userName}}</p>
		<div id="allSideButton">
			<div class="sideButtonContainer">
				<a href="/logout">Déconnexion</a>
				<a href="/plants">Notre Jardin</a>
				<a href="/collection">Ma collection</a>
			</div>
			<div class="roomContainer">
				<form action="/plantAddToRoom/{{plant.id}}" method="POST">
					<select name="plant" id="plant">
						<option value="">Ma collection</option>
						{% for plant in collection %}
							<option value="{{plant._id}}">{{plant.common_name}}</option>
						{% endfor %}
					</select>
					<button type="submit">Ajouter à la pièce</button>
				</form>

				<a id="update" href="">Modifier pièce</a>
			</div>
		</aside>
		<div class="popup">
		fucckkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
		
		</div>
{% block script %}
<script src="/script/main.js"></script>
{% endblock %}
	</section>
