<section class="roomContainer">
	<div></div>
	<div class="underRoomContainer">

		<h2>{{room.name}}</h2>
		<div class="articleRoomContainer">
			{% if collection.length == 0 %}
				<p id="Empty">La pièce est vide, veuillez ajouter des plantes depuis la pièce ou depuis votre collection.</p>
			{% else %}
				{% for plant in collection %}
					<article>
						<div class="articleTitle">
							<h3>{{plant.common_name}}</h3>
							<a href="/plantDeleteToRoom/{{room.id}}/plant/{{plant.idPLantRoom}}"><img src="/images/compost.png" alt="plant_delete"></a>
						</div>
						<p id="date">Dans cette pièce depuis le:
							<span class="data">{{plant.date|date('d-m-Y')}}
							</span>
						</p>
						<a id="imgContainer" href="/dataPlant/{{plant.idPLantRoom}}/room/{{room.id}}"><img id="plant" src="{{plant.default_image.thumbnail}}" alt="plant_picture"></a>
					</article>
				{% endfor %}
			{% endif %}
		</div>

	</div>
	<aside class="aside">
		<p id="sideBarTitle">Mr Green
			<br>Thumb
		</p>

		<p id="welcome">Bienvenue
			{{session.user.userName}}</p>
		<div id="allSideButton">
			<div class="sideButtonContainer">
				<a href="/logout">Déconnexion</a>
				<a href="/plants">Notre Jardin</a>
				<a href="/collection">Ma collection</a>
			</div>
			<div class="roomContain">
				<form action="/plantAddToRoom" method="POST">
					<select name="plant" id="selectPlant">
						<option value="">Ajouter depuis ma collection</option>
						{% for plant in userCollection %}
							<option value="{{plant.id}}">{{plant.common_name}}</option>
						{% endfor %}
					</select>
					<input type="hidden" value="{{room.id}}" name="room">
					<button id="addToRoomCheck" type="submit"><img src="/images/green_check.png" alt="img_check"></button>
				</form>

				<button id="upDateRoomButton" onclick="togglePopup()">Modifier la pièce</button>
			</div>
		</aside>
		<div id="popup-overlay">
			<div class="addRoomContainer" class="popup-content">
				<div>
					<h2>Modifier la pièce</h2>
				</div>

				<div id="addRoomForm">
					<form action="/roomUpdate/{{room.id}}" method="post">
						<div id="addRoomFormcontent">
							<div id="firstBlockform">
								{% if error %}
									<p class="error">{{error.errors.name}}</p>
								{% endif %}
								<input id="name" type="text" name="name" placeholder="Nom de la pièce" value="{{room.name}}">
								{% if error %}
									<p class="error">{{error.errors.sunlight}}</p>
								{% endif %}
								<fieldset class="NameField">
									<legend>Type de pièce:</legend>
									<div>
										<input id="living" type="radio" name="type" value="living">
										<label for="living">Salon</label>
									</div>
									<div>
										<input id="room" type="radio" name="type" value="room">
										<label for="room">Chambre</label>
									</div>
									<div>
										<input id="kitchen" type="radio" name="type" value="kitchen">
										<label for="kitchen">Cuisine</label>
									</div>
									<div>
										<input id="bathroom" type="radio" name="type" value="bathroom">
										<label for="bathroom">Salle de bain</label>
									</div>
									<div>
										<input id="parking" type="radio" name="type" value="parking">
										<label for="parking">Garage</label>
									</div>
									<div>
										<input id="outSide" type="radio" name="type" value="outSide">
										<label for="outSide">Extérieur</label>
									</div>
								</fieldset>
								<fieldset class="placeField">
									<legend>Lieu de la pièce:</legend>
									<div>
										<input id="interior" type="radio" name="is_interior" value="{{false}}">
										<label for="interior">Intérieur</label>
									</div>
									<div>
										<input id="exterior" type="radio" name="is_interior" value="{{true}}">
										<label for="exterior">Extérieur</label>
									</div>
								</fieldset>
							</div>
							<div id="secondBlockform">
								<fieldset class="sunField">
									<legend>Eclairage de la pièce:</legend>
									<div>
										<input id="full_sun" type="radio" name="sunlight" value="full_sun">
										<label for="full_sun">Très éclairée</label>
									</div>
									<div>
										<input id="part_shade" type="radio" name="sunlight" value="part_shade">
										<label for="part_shade">Partiellement éclairée/ombragée</label>
									</div>
									<div>
										<input id="full_shade" type="radio" name="sunlight" value="full_shade">
										<label for="full_shade">Totalement Ombragée</label>
									</div>
								</fieldset>
								{% if error %}
									<p class="error">{{error.errors.humidity}}</p>
								{% endif %}
								<fieldset class="hygroField">
									<legend>Hygromètrie de la pièce:</legend>
									<div>
										<input id="wet" type="radio" name="humidity" value="wet">
										<label for="wet">Humide</label>
									</div>
									<div>
										<input id="averageHumidity" type="radio" name="humidity" value="averageHumidity">
										<label for="averageHumidity">Humidité moyenne</label>
									</div>
									<div>
										<input id="dry" type="radio" name="humidity" value="dry">
										<label for="dry">Sec</label>
									</div>
								</fieldset>
							</div>
						</div>
						<button id="button" type="submit">Valider Modifications</button>
					</form>
					<a href="javascript:void(0)" onclick="togglePopup()" id="popup-exit">&#x2716</a>
				</div>

			</div>


		</div>
		{% block script %}
			<script src="/script/main.js"></script>
		{% endblock %}
	</section>
