<section class="collectionContainer">
	<div></div>
	<div class="underCollectionContainer">

		<h2>Ma collection</h2>
		<div class="articleCollectionContainer">
			{% for plant in collection %}
				<article>
					<div class="articleTitle">
						<h3>{{plant.common_name}}</h3>
						<a href="/plantDelete/{{plant.id}}"><img src="/images/compost.png" alt="plant_delete"></a>
					</div>
					<a id="imgContainer" href=""><img id="plant" src="{{plant.default_image.thumbnail}}" alt="plant_picture"></a>
				</article>
			{% endfor %}
		</div>

	</div>
	<aside class="aside">
		<p id="sideBarTitle">Mr Green
			<br>Thumb
		</p>

		<p id="welcome">Bienvenue
			{{session.user.userName}}</p>
		<div id="allSideButton">
			<div class="sideButtonContainer">
				<a href="/logout">Déconnexion</a>
				<a href="/plants">Notre Jardin</a>
			</div>
			<div class="roomContainer">
				{% for room in user.rooms_collection %}
					<div class="linkContainer">
						<a href="/room" id="roomLink">{{room.name}}</a>
						<a href="/delete" id="deleteLink"><img id="deleteLinkImg" src="/images/delete.png" alt="delete_picture"></a>
					</div>
				{% endfor %}
			</div>
			<a id="AddRoom" href="/room">+ pièce</a>
		</div>
	</aside>
</section>

