<section class="gardenContainer">
	<div></div>
	<div class="underGardenContainer">
		<div id="uperGardenContainer">

			<form action="/plants" method="GET">

				<select name="expo" id="expo-select">
					<option value="">choisissez une exposition</option>
					<option value="full_sun">Full sun</option>

					<option value="part_shade">Part shade</option>
					<option value="full_shade">Full shade</option>
				</select>
				<select name="water" id="water-select">

					<option value="">choisissez une fréquence d'arrosage</option>
					<option value="minimum">Minimum</option>
					<option value="average">Average</option>
					<option value="frequent">Frequent</option>


				</select>
				<select name="millieu" id="env-select">
					<option value="">choisissez un de vos millieux</option>
					<option value="envOne">Env 1</option>
					<option value="envTwo">Env 2</option>

				</select>
				<input id="searchBarrPlant" type="search" name="search" placeholder="Chercher">
				<button class="searchButton" type="submit"><img class="imgButton" src="images/magnifier.png" alt="search"></button>

			</form>


		</div>
		<div class="articlePlantContainer">
			{% for plant in data %}
				<article>
					<div>
						<h3>{{plant.common_name}}</h3>
					</div>
					<a href="/plantDetails/{{plant.id}}" id="imgPlant">
						<img id="plant" {% if plant.default_image.thumbnail %} src="{{plant.default_image.thumbnail}}" {% else %} src="/images/mr_green_thumb.jpg" {% endif %} alt="plant_picture">
					</a>
					<p>Nom scientifique:
						{{plant.scientific_name[0]}}
					</p>
					<p>Autre Nom:
						{{plant.other_name[0]}}
					</p>
					<p>Besoin en eau:
						{{plant.watering}}
					</p>
					<p>Exposition:
						{{plant.sunlight}}
					</p>
					{% if session.user %}
						<div class="checkButtoncontainer">
							<a class="getButton" href="/addPlantToCollection/{{plant.id}}">Ajouter à ma collection</a>
							<a class="getButton" href="/addPlantToRoom/{{plant.id}}">Ajouter à une pièce</a>


						</div>
					{% endif %}

				</article>
			{% endfor %}
		</div>

	</div>
	<aside class="aside">
		<p id="sideBarTitle">Mr Green
			<br>Thumb</p>

		{% if session.user %}

			<p>Bienvenue dans notre jardin
				{{session.user.userName}}</p>

			<div class="sideButtonContainer">
				<a href="/logout">Déconnexion</a>
				<a href="/collection">Mes plantes</a>
			</div>
			
		{% else %}
			<a id="homeButton" href="/home">Accueil</a>
			<h2 class="sideUnderTitle">Notre Jardin</h2>
		{% endif %}

	</aside>
</section>
