<section class="collectionContainer">
	<div></div>
	<div class="underCollectionContainer">
		<div class="nextWaterings">
			<p id="waterNotif">Arrosages Prévus</p>
			{% for wateringDate in filteredNextDates %}
				<p>{{wateringDate|date('d-m-Y')}}</p>
			{% endfor %}
			<a href="javascript:void(0)" id="popup-exit">&#x2716</a>
		</div>
		<article>
			{% if filteredNextDates.length == 0 %}
				<a href=""><img class="notif" src="/images/notification.png" alt="img_notification"></a>
			{% else %}
				<div id="counter">{{filteredNextDates.length}}</div>
				<a href="javascript:void(0)"><img class="notif" src="/images/notification.png" alt="img_notification"></a>

			{% endif %}
			<div>
				<h3>{{data.common_name}}</h3>
			</div>
			<a href="/plantDetails/{{data.id}}" id="imgPlant">
				<img id="plant" {% if data.default_image.thumbnail %} src="{{data.default_image.thumbnail}}" {% else %} src="/images/mr_green_thumb.jpg" {% endif %} alt="plant_picture">
			</a>

		</article>
		<div id="DataBlock">
			<p>Vous avez cette plante depuis:
				<span class="data">
					{{plant.date|date('d-m-Y')}}
				</span>
			</p>

			<p>Besoin en eau:
				<span class="data">
					{{data.watering}}
				</span>
			</p>
			<p>Exposition:
				<span class="data">
					{{data.sunlight}}
				</span>
			</p>
		</div>
		<div id="wateringData">
			<p>Dernier Arrosage:
				<span class="data">
					{% if filteredPassedDates.length == 0 %}Pas de dernier arrosage enregistré
					{% else %}
						{{filteredPassedDates[filteredPassedDates.length - 1]|date('d-m-Y')}}
					</span>
				</p>
			{% endif %}
			<p>Prochain Arrosage:
				<span class="data">
					{% if filteredNextDates.length == 0 %}Pas d'arrosage prévu
					{% else %}
						{{filteredNextDates[0]|date('d-m-Y')}}
					</span>
				</p>
			{% endif %}
			{# <div>Niveau:</div> #}
		</div>
	</div>
	<aside class="aside">
		<p id="sideBarTitle">Mr Green
			<br>Thumb
		</p>
		{% if session.user %}

			<p id="welcome">Bienvenue
				{{session.user.userName}}
			</p>
			<div id="blockContainer">
				<div id="allSideButton">
					<div class="sideButtonContainer">
						<a href="/logout">Déconnexion</a>
						<a href="/plants">Notre Jardin</a>
						<a href="/room/{{room.id}}" id="roomLink">Retour Pièce</a>
					</div>
				</div>
				<button id="pWB" onclick="wateringTogglePopup()">Programmer un arrosage</button>
			</div>
			<div id="watering-popup-overlay">
				<div class="addWateringContainer">

					<h2>Programmer un arrosage</h2>


					<div id="addWateringForm">
						<form action="/addWatering/{{plant._id}}/room/{{room.id}}" method="post">
							<div id="addWateringFormContent">
								{% if error %}
									<p class="error">{{error.errors.date}}</p>
								{% endif %}
								<input type="datetime-local" name="date" id="date">
								<button id="button" type="submit">Valider</button>
							</div>
						</form>

					</div>
					<a href="javascript:void(0)" onclick="wateringTogglePopup()" id="watering-popup-exit">&#x2716</a>
				</div>
			</div>

		{% endif %}

	</aside>
	{% block script %}
		<script src="/script/main.js"></script>
	{% endblock %}
</section>
